build/
dist/
.idea/

imgui.ini
*.zip
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.dmg
*.msi
*.exe

.DS_Store

.gradle/
.cxx/
**/.externalNativeBuild/
**/build/
**/local.properties
**/captures/


**/*.apk
**/*.aab
**/*.ap_


**/*.jks
**/*.keystore
**/*.pem
**/*.p12
